.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  font-weight: bolder;
}

.logo a {
  text-decoration: none;
  font-size: 24px;
  color: #333;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

nav ul li {
  margin-right: 15px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #007bff;
}

.cart-icon {
  position: relative;
}

.cart-icon a {
  text-decoration: none;
  color: #333;
}

.cart-icon .badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #007bff;
  color: #fff;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 12px;
}
.badge {
  right: 55px;
  background-color: #007bff;
  color: #fff;
  border-radius: 50%;
  padding: 3px 7px;
  font-size: 12px;
  display: flex;
  position: absolute;
  top: 30px;
}
