.header {
  background-color: #312d2de1;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin-bottom: 20px;
}
.logo {
  a {
    text-decoration: none;
    color: #fff;
    font-size: 45px;
    font-weight: bold;
  }
}
.cart-icon {
  text-decoration: none;
  color: #f3ebeb;
  position: relative;
  margin-right: 30px;
  cursor: pointer;
}
.cart-icon a {
  text-decoration: none;
  color: #fff;
  size: 50px;
  vertical-align: middle;
}
.badge {
  display: flex;
  position: absolute;
  right: -20px;
  top: -11px;
  font-size: 17px;
  font-weight: 600;
  width: 15px;
  height: 20px;
  padding: 1px 4px;
  border-radius: 50%;
  background-color: #676669;
  color: #f0ecec;
  justify-content: center;
  align-items: center;
}
