.header {
  background-color: #3b3838e1;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin-bottom: 20px;
}
.logo {
  a {
    text-decoration: none;
    color: #fff;
    font-size: 45px;
    font-weight: bold;
  }
}
.cart-icon {
  text-decoration: none;
  color: #f3ebeb;
  position: relative;
  margin-right: 30px;
}

.cart-icon a {
  text-decoration: none;
  color: #fff;
  size: 5cm;
}

.badge {
  top: 0;
  right: 0;
  background-color: rgb(61, 24, 224);
  color: white;
  padding: 4px 8px;
  border-radius: 50%;
  font-size: 12px;
}
