<div class="container">
  <div class="product-info">
    <h2>Cart</h2>
    <ng-container *ngFor="let item of cartItems; let i = index">
      <div *ngIf="item.quantity" class="cart-item">
        <h3>{{item.image }}</h3>
        <h3>{{item.title }}</h3>
        <p>Price: Rs.{{item.price }}</p>
        <p>Quantity: <button (click)="decrementQuantity(item)">-</button> {{ item.quantity }}
          <button (click)="incrementQuantity(item)">+</button>
          <button (click)="removeItem(item)">Delete</button>
        <p>Total Amount: Rs.{{totalAmount}}</p>
      </div>
    </ng-container>
  </div>
</div>