<div class="container">
  <div class="cart-info">
    <div *ngIf="cartItems.length">
      <h2>Your Cart</h2>
      <p class="total-amount">Total Amount: Rs.{{ cartService.getTotalAmount() }}</p>
      <div class="cart-items">
        <div *ngFor="let item of cartItems; let i = index" class="cart-item">
          <div class="product-image">
            <img [src]="item.thumbnail" alt="{{ item.title }}">
          </div>
          <div class="product-details">
            <h3>{{ item.title }}</h3>
            <p class="price">Price: Rs.{{ item.price }}</p>
            <div class="quantity-controls">
              <p>Quantity:</p>
              <button (click)="decrementQuantity(i)">-</button>
              <span>{{ item.quantity }}</span>
              <button (click)="incrementQuantity(i)">+</button>
              <button class="delete-btn" (click)="removeItem(i)">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h2 *ngIf="!cartItems.length" class="empty-cart">Your Cart is Empty</h2>
  </div>
</div>
