.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px auto;

  .product {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    width: calc(15% - 0px);
    margin: 10px;

    @media (max-width: 1200px) {
      width: calc(
        25% - 30px
      ); /* For smaller screens, show 3 products in a row */
    }

    @media (max-width: 768px) {
      width: calc(25% - 20px); /* For tablets, show 2 products in a row */
    }

    @media (max-width: 512px) {
      width: 100%; /* For mobile devices, show 1 product in a row */
    }

    .product-image {
      width: 100%;
      height: 200px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-bottom: 1px solid #ddd;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.05);
        }
      }
    }

    .product-details {
      padding: 15px;

      .product-title {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 5px;
        color: #333;
        font-weight: bold;
      }

      .price,
      .discounted-price,
      .rating,
      .brand {
        font-size: 16px;
        margin-bottom: 10px;
        color: #666;
      }

      .add-to-cart,
      .quantity-controls {
        display: flex;
        align-items: center;

        button {
          padding: 8px 12px;
          margin-right: 10px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          transition: background-color 0.3s ease;
          font-weight: bold;

          &:hover {
            background-color: #007bff;
            color: #fff;
          }
        }

        .add-btn {
          margin-left: 8px;
        }
      }
    }
  }
}
