.product {
  display: flex;
  background-color: #ddd;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
  width: 500px;
}

.product-card {
  width: 300px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  margin: 10px;
  transition: transform 0.2s;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-image img {
  max-width: 100px;
  height: auto;
}

.product-details {
  padding: 20px;
  text-align: center;
}

.product h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.product p {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 10px;
}

.price {
  font-weight: bold;
  color: #333;
  font-size: 1.1rem;
  margin-top: 10px;
}

button {
  background-color: #333;
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  margin-top: 10px;
}

button:hover {
  background-color: #555;
}

.products {
  display: flex !important;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
}
